
<!--<h1>Hola mundo desde {{ city.toUpperCase() }}</h1> -->
<!--<app-user/>-->  
<!--<router-outlet />-->

<div>
    <h1>¿Qué me parece Angular?</h1>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint fuga quia atque quidem 
            maiores placeat natus praesentium. Et reiciendis voluptates neque nulla magnam dolore consequatur, 
            laborum exercitationem beatae sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint fuga quia atque quidem 
                maiores placeat natus praesentium. Et reiciendis voluptates neque nulla magnam dolore consequatur, 
                laborum exercitationem beatae sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint fuga quia atque quidem 
                    maiores placeat natus praesentium. Et reiciendis voluptates neque nulla magnam dolore consequatur, 
                    laborum exercitationem beatae sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint fuga quia atque quidem 
                        maiores placeat natus praesentium. Et reiciendis voluptates neque nulla magnam dolore consequatur, 
                        laborum exercitationem beatae sapiente.</p>     
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint fuga quia atque quidem 
                            maiores placeat natus praesentium. Et reiciendis voluptates neque nulla magnam dolore consequatur, 
                            laborum exercitationem beatae sapiente.</p>         
    </article>
    @defer(on viewport) { <!--Carga difereida y cuando que la carga diferida solo sea cuando llega al viewport    -->
        <app-comments />
    }@placeholder {
        <p>futuros comentarios</p>
    }@loading(minimum 1s) {
        <p>Cargando comentarios...</p>
    }
</div>

<!--El inicio de Angular-->
